@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
#wrapper{
    /* background-color: darkkhaki; */
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    /* background-color:coral; */
    margin: 0 auto;
    width:100%;
    height:800px;
    position: relative;
}
.navbar{
    margin: 0 auto;
    width:1200px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
#logo{
    height:90px;   
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-items a{
    color:black;
    font-size: 20px;
    font-weight:500;
}
a{
    text-decoration: none;
}
.nav-items a:hover{
    font-weight: bold;
    transition:0.8s;
}

.hero-section{
    display:flex;
    width:1200px;
    /* height:20%; */
    margin:0 auto;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.hero-section-right{
    position: relative;
}
.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.hero-section-sub-heading{
    font-size: 45px;
    color:#343d68;
    line-height: 45px;
}
.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
.hero-section-right{
    
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.user-image{
    padding:2rem;
    animation-name:user;
    animation-iteration-count: infinite;
    /* transition:all 3s; */
    animation-duration: 4s;
    z-index:-5;
}
@keyframes user {
    0%{
        filter:grayscale(0);
        transform:scale(1);
    }
    50%{
        filter:grayscale(1);
        transform:scale(1.1);
        box-shadow: 1px 1px 5px black;
    }
    100%{
        filter:grayscale(0);
        transform:scale(1);
    }
}
.absolute{
    position: absolute;
    z-index:1;
}
.zigzags{
    top:2%;
    animation-name: zigzags-anim;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes zigzags-anim {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}
.circle{
    bottom:1%;
    animation-name: circle-anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes circle-anim {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(30px,-30px);
    }
    100%{
        transform: translate(0px);
    }
}
.dots{
    bottom: 1%;
    right:1%;
    animation-name: dots-anim;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    
}
@keyframes dots-anim {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(-1px,-10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.cube{
    right:1%;
    animation-name: cube-anim;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes cube-anim {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: scaleX(-1) translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.plus{
    left:40%;
    animation-name: plus-anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes plus-anim {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(5px,-20px);
    }
    100%{
        transform: translate(0px);
    }
}

.btn{
    background-color: rgb(248, 83, 83);
    /* border:1px solid black; */
    /* display: inline-block; */
    height:50px;
    width:150px;
    padding: 1.5%;
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    position: relative;
    z-index: 1;
    box-shadow: 4px 5px 7px rgb(146, 146, 146);
}
.btn:hover{
    color:black;
    transition: 0.8s;
    cursor: pointer;
}
.btn::before{
    content:"";
    position: absolute;
    top:0%;
    left:0.4%;
    bottom:0%;
    border:3px solid rgb(248, 83, 83);
    right:0%;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: 0.6s;
    /* transition-timing-function:linear; */
    transform-origin: left;
    z-index: -1;
    
}
.btn:hover::before{
    transform: scaleX(1);
    cursor: pointer;
}
.hero-section-background-text{
    position: absolute;
    user-select:none;
    font-size: 7em;
    color:rgb(231,231,231);
    bottom:-5%;
    left: 1%;
    font-weight: bold;
    /* transition: all 3s; */
}
.container2{
    height:2650px;
    width:100%;
    background-color: rgb(231,231,231);
}

.project-section{
    position: relative;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap:5rem;
}
.project-section-heading{
    
    font-size: 90px;
    color:rgb(248, 67, 67);
    font-weight: 800;
}
.box{
    /* border:1px solid black; */
    height:500px;
    width:1000px;
    position: absolute;
    z-index:1;
    box-shadow: 3px 5px 50px 20px rgb(161, 161, 161);
}
.box::before{
    content:"";
    background-color: #343d68;
    opacity:0.5;
    position: absolute;
    transform:scaleX(0);
    transition:0.5s;
    top:0%;
    bottom:0%;
    right:0%;
    left:0%;
    z-index:10;
    transform-origin: left;
}
.box:hover::before{
    transform:scaleX(1);
    /* cursor:pointer; */
}
.box-background img{
    height:500px;
    width:1000px;
    filter:brightness(30%) contrast(85%) saturate(130%);
    object-fit:fill;
}
.project-box-1{

    top:100%;
    left:6%;
    
}
.project-box-2{

    top:460%;
    left:18%;
    
}
.project-box-3{

    top:820%;
    left:6%;
}
.project-box-4{

    top:1180%;
    left:18%;
}
.project-number{
    color:rgb(255, 255, 255);
    font-size: 200px;
    font-weight: 900;
    position: absolute;
    z-index:20;
    right:-5%;
    bottom:60%;
    visibility: hidden;
}
.box:hover .project-number{
    visibility: visible;
    transition: 5s;
}
.p2,.p4{
    /* position: absolute; */
    left:-85%;
}
.project-description{
    display:flex;
    flex-direction:column;
    position: absolute;
    gap:1rem;
    top:25%;
    left:10%;
    transform: scale(1);
    z-index:20;
    transition:all 0.5s;
}
.project-icons{
    display: flex;
    gap:0.2rem;
}
.icons img{
    height:40px;
    /* position: absolute; */
}
.project-text-heading{
    color:white;
    font-size: 60px;
    font-weight: 800;
    text-align: left;
}
.project-text .description{
    color:white;
    text-align: left;
}
.box:hover .project-description{
    transform: scale(1.2);
}
.project-btn{
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    padding-top: 2.5%;
    margin-top: 1%;
}
.d2,.d4{
    left:35%;
}

.container3{
    width:1200px;
    margin: 0 auto;
    height:900px;
    display: flex;
    align-items: center;
    position: relative;
}
.about-section{
    display: flex;
    gap:2rem;
    justify-content: space-between;
}
.about-section-left{
    width:40%;
    
}
.big-m{
    font-size:80px;
    font-weight: 800;
    color:rgb(248, 67, 67);
}
.rest,.rest-heading{
    font-size: 40px;
    color:rgb(248, 67, 67);
    font-weight: 600;
}
.about-section-heading{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.main-head{
    display: flex;
    align-items: baseline;
}
.about-section-text{
    text-align: justify;
    margin-top: 5%;
    font-size: 16px;
    color:grey;
}
.about-section-right{
    width:50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-icons{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(5,120px);
    grid-template-rows: repeat(4,120px);
}
.about-icons .icons{
    transition:0.5s;
}
.about-icons .icons:hover{
    transform:scale(1.2);
    
}
.icons img{
    height:90px;
    width:90px;
}.blob-vector{
    position:absolute;
    z-index: -1;
    justify-self: center;
    animation-name: blob;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes blob {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(20px,-30px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.back-text{
    font-size: 180px;
    font-weight: 800;
    color: rgb(231,231,231);
    position: absolute;
    bottom:-4%;
    right:0%;
}
.container4{
    width:100%;
    height:880px;
    background-color:rgb(231,231,231);
}
.contact-section{
    
}
.contact-section-heading{
    padding-top: 3%;
    margin-left:8%;
    font-size: 80px;
    font-weight: 800;
    color:rgb(248, 67, 67);
}
.contact-section-sub-heading{
    margin-left:8%;
    font-size: 50px;
    font-weight: 600;
    color:grey;
}
.contact-form{
    display: flex;
    width:900px;
    margin:0 auto;
    margin-top: 5%;
    flex-direction: column;
    gap:2rem;
}
input{
    height:50px;
    padding: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:5px;
    font-size: 20px;
    box-shadow: 0px 0px 8px rgb(110, 110, 110);
}
#message{
    height:200px;
}
.contact-form .btn{
    width:250px;
    height: 55px;
    transition: 0.5s;
    font-size: 23px;
}
.contact-form .btn:hover{
    transform: scale(0.9);
}

.footer{
    width:100%;
    background-color: #343d68;
    height:300px;
    display: flex;
    align-items: center;
    position: relative;
}
.footer-items{
    color:white;
    font-size: 18px;
}
.footer-items:hover{
    color:rgb(0, 0, 0);
    cursor: pointer;
}
.footer-left{
    display: flex;
    gap:1.5rem;
    width:50%;
    justify-content: center;
}
.footer-right{
    display: flex;
    width:50%;
    align-items: center;
    justify-content:center;
    gap:0.8rem;
}
.linkedin img{
    height:50px;
    filter: invert(1);
}
.footer-icons img{
    height:40px;
    filter: invert(1);
}
.footer-icons img:hover{
    filter: hue-rotate(180deg) sepia();
    cursor:pointer;
}
.linkedin img:hover{
    filter: hue-rotate(180deg);
    cursor:pointer;
}
.footer-back-text{
    color:#6872a7;
    font-size: 80px;
    position: absolute;
    bottom:0%;
    left:0%;
    user-select: none;
}
